.header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding: 0.8rem;
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  max-height: 80px;
  min-width:100vw;
}
.logo{
  font-size: 24px;
  font-weight: bold;
  color: #9893fb;
  cursor: pointer;
}
.logo span{
  color:black;
}
.navbar{
  flex:1;
  margin-left:2rem;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 1rem;
  margin:0;
  padding:0;
}
.nav-links a {
  text-decoration:none;
  color: #777;
  font-size: 16px;
}
.nav-links a:hover{
  color:#9893fb;
}
.icons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-bar{
  padding:0.5rem;
  border: 1px solid #dedede;
  border-radius:4px;
  outline:none;
}
.search-button,.icon-button{
  background: none;
  border:none;
  cursor:pointer;
  font-size:22px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#666;
  transition: color 0.2s ease;
}
.search-button:hover,.icon-button:hover{
  color: #9893bf;
}
.icon-button{
  position:relative;
  display: inline-block;
}
.counter{
  position:absolute;
  top:-5px;
  right: -5px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 10px;
  color:#fff;
  background-color: #7a75dc;
}